# Environment files
fullstackfyp/backend/config/.env
fullstackfyp/frontend/.env

# Node modules directories
fullstackfyp/backend/node_modules/
fullstackfyp/frontend/node_modules/

# VS Code settings
.vscode/

# Ignore custom files
Open CMD here.txt
README.txt
USER LOGIN Credentials.txt
